@model IEnumerable<DemoWebApp.Models.Books>

    <div class="d-flex justify-content-evenly">
        <div class="row my-2">
@{

            var count = 0;
    foreach (var item in Model)
    {
       
            
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://tse2.mm.bing.net/th/id/OIP.3ozWeRNQgEJ_tB3D7ImTuwHaFR?w=275&h=196&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
                        <div class="card-body ">
                            <p class="card-title text-center">@item.courseName</p>

                        </div>
                    </div>
                </div>

                count++;
                if(count % 3 == 0)
                {

                    <div class="row my-2">
                    </div>
                }


    }
    
}
    </div>
</div>

