@model IEnumerable<DemoWebApp.Models.Books>

@*
@ViewBag.Message
@ViewData["Msg"]*@

    <div class="d-flex justify-content-evenly">
        <div class="row my-2">
@{

            var count = 0;
    foreach (var item in Model)
    {
       
            
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        
                        <img class="card-img-top" src=@item.courseUrl alt="Card image cap" height="200px">
                        <div class="card-body ">
                            <p class="card-title text-center">@item.courseName</p>

                        </div>
                    </div>
                </div>

                count++;
                if(count % 3 == 0)
                {

                    <div class="row my-2">
                    </div>
                }


    }
    
}
    </div>
</div>

